<div class="cont-o"  *ngIf="!freshpage">
  <div class="per-o" [ngClass]="{'move-up-down': player === 'O' || winner === 'O' || isdraw}">
    <img src="/assets/user.png">
  </div>
  <div class="play-o" [ngClass]="{'gradbng-o': player === 'O' || winner === 'O' || isdraw}">
    PLAYER: O
  </div>
</div>

<div class="cont-x" *ngIf="!freshpage">
  <div class="per-x" [ngClass]="{'move-up-down': player === 'X' || winner === 'X' || isdraw}">
    <img src="/assets/user - 1.png">
  </div>
  <div class="play-x" [ngClass]="{'gradbng-x': player === 'X' || winner === 'X' || isdraw}">
    PLAYER: X
  </div>
</div>

<div class="outer-cont" >
  <div class="text-container" *ngIf="freshpage"><h1 *ngIf="freshpage">TIC-TAC-TOE</h1></div>
  <a class="button" *ngIf="freshpage" href="#" style="--color: #fed90f" (click)="newGame()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Start Game
    </a>
  <!-- <button class="sgame" *ngIf="freshpage" (click)="newGame()">Start Game </button> -->
  <button class="game" *ngIf="isdraw || winner" (click)="newGame()">New Game </button>"
  <div class="square" *ngIf="!freshpage"></div>
  <div class="conti" *ngIf="winner || isdraw">
    <h2 *ngIf="isdraw">Draw!!</h2>
    <h2 *ngIf="winner">Player {{ winner }} Wins!!!</h2>
  </div>
  <main>
    <app-board
    *ngFor="let val of squares; let i = index"
    [value]="val"
    [ngClass]="{
      'box-x': val === 'X',
      'box-o': val === 'O',
      'winning-box': line.includes(i)
    }"
    (click)="makeMove(i)"
    ></app-board>
  </main>
</div>